.info-frame__title
  position: relative
  display: inline-block
  background: #2c9556
  color: #263028
  padding: 5px
  font-weight: 400
  font-size: 1.1em
  margin-bottom: 5px

.info-frame__title::after
  content: '';
  border-bottom: 2em solid transparent;
  border-left: 20px solid #2c9556;
  width: 1px;
  height: 1px;
  margin-left: 5px;
  position: absolute
  right: -20px
  top: 0
