.link
  border: none
  background: transparent
  outline: none
  padding: 0
  color: #8d931f
  font-weight: 300
  font-size: 12px
  border-radius: 3px
  position: relative
  display: inline-block
  cursor: pointer
  text-decoration: none
  &:hover
    text-decoration: underline
