.link
  border: none
  background: transparent
  outline: none
  padding: 0
  color: #8d931f
  font-weight: 300
  font-size: 13px
  border-radius: 3px
  position: relative
  display: inline-block
  text-decoration: none

  &[href]:hover
    text-decoration: underline

