$mobile-max-width = 480px
$mobile-max-height = 768px
$tablet-max-width = 768px
$mobile-landscape-max-height = 480px

$border-color = #38402b
$default-text-color = #2c9556
$highlighted-text-color = #8d931f

@import "loading.styl"
@import "bootstrap.styl"
@import "container.styl"
@import "link.styl"
@import "sidebar.styl"
@import "page.styl"
@import "main-content.styl"
@import "table/table.styl"
@import "main-title/main-title.styl"
@import "header/header.styl"
@import "button/button.styl"
@import "card/card.styl"
@import "modal/modal.styl"
@import "form/form.styl"
@import "profile/profile.styl"
@import "list/list.styl"
@import "pagination/pagination.styl"
@import "number-verification-field.styl"
@import "rank/rank.styl"
@import "registration-form/registration-form.styl"
@import "search/search.styl"
@import "person-card/person-card.styl"
@import "info-frame/info-frame.styl"

