.form__field-label
  position: absolute
  transition: 0.3s
  padding: 15px 5px 0
  color: #aaa

.form__field-label--upper
  font-size: 0.7em
  padding-top: 0

.form__field-label--inline
  padding: 10px 0
  color: #495057
  letter-spacing: 0.07em
  font-weight: 400
  font-size: inherit
