.form__col
  width: 100%
  margin: 0 10px

.form__row:first-child
  margin-left: 0

.form__col--compact
  width: auto

.form__col--align-right
  text-align: right

.form__col--align-stretch
  display: flex
  justify-content: space-between
