@import "form__row.styl"
@import "form__field-wrapper.styl"
@import "form__field-label.styl"
@import "form__field.styl"
@import "form__error.styl"
@import "form__field-placeholder.styl"
@import "form__col.styl"
@import "form__field-checkbox.styl"
@import "form__field-container.styl"
@import "form__text.styl"
@import "form__field-file-preview.styl"

@import "form__field-photo.styl"
@import "form__field-photo-image.styl"
@import "form__field-photo-popup.styl"
@import "form__field-photo-popup-image.styl"
@import "form__field-photo-window.styl"
@import "form__field-photo-buttons.styl"

@import "form__field-autocomplete-options.styl"
@import "form__field-autocomplete-option.styl"

.form--direction-horizontal
  margin: 10px 0
  display: flex
  align-items: center
  justify-conten: left
