.form__field-placeholder
  opacity: 0
  display: inline-block
  padding: 5px
  width: 100%
  white-space: pre-wrap
  letter-spacing: 0.07em
  font-weight: 400
  min-height: 6.5rem

.form__field-placeholder--readonly
  min-height: auto
