.form__field-autocomplete-option
  padding: 10px
  border-top: 1px solid $border-color
  color: $default-text-color
  font-weight: 400
  cursor: pointer

.form__field-autocomplete-option:hover
  background: #2c362a

.form__field-autocomplete-option:first-child
  border-top: none
