.form__field-autocomplete-options
  position: absolute
  z-index: 998
  width: 100%
  max-height: 300px
  background: #191e18
  box-shadow: 0 0 0 1px $border-color, 0 3px 4px 0 rgb(0, 0, 0, 0.3)
  overflow-y: auto

.form__field-autocomplete-options--upper
  bottom: 100%
