@import "form__row.styl"
@import "form__field-wrapper.styl"
@import "form__field-label.styl"
@import "form__field.styl"
@import "form__error.styl"
@import "form__field-placeholder.styl"
@import "form__col.styl"
@import "form__field-checkbox.styl"
@import "form__field-container.styl"
@import "form__text.styl"

.form
  margin: 10px 20px

.form--direction-horizontal
  margin: 10px 0
  display: flex
  align-items: center
  justify-conten: left
