.form__row
  width: 100%
  margin: 10px 0
  display: flex

.form__row--valign-center
  align-items: center

.form__row--align-right
  justify-content: flex-end

.form__row--align-stretch
  justify-content: space-between

.form__row--direction-column
  flex-direction: column

@media only screen and (max-width: $tablet-max-width)
  .form__row
    margin: 0
    flex-direction: column
