.form__field
  display: inline-block
  margin-top: 15px
  padding: 5px
  width: 100%
  border: 0
  background: transparent
  outline: none
  color: #ccc
  border-bottom: 1px solid #cccccc
  font-size: inherit
  font-family: inherit
  font-weight: 400

.form__field--textarea
  position: absolute
  z-index: 1
  letter-spacing: 0.07em
  font-weight: 400
  overflow: hidden
  height: 100%
  margin-top: 0
  resize: none

.form__field--invisible
  display: block
  width: 0
  height: 0
  opacity: 0
  position: absolute

.form__field--focused
  border-bottom: 1px solid #929a3d

.form__field--has-error
  border-bottom: 1px solid #f44336

.form__field--readonly
    border-bottom: 1px solid #eee


.form__field--no-underline
  border-bottom: none

.form__field--file-input
  position: absolute
  width: 0
  height: 0
  opacity: 0
  overflow: hidden

.form__field--clickable
  cursor: pointer
  text-align: center
