.form__field
  display: inline-block
  margin-top: 15px
  padding: 5px
  width: 100%
  border: 0
  background: transparent
  outline: none
  color: $default-text-color
  border-bottom: 1px solid $default-text-color
  font-size: inherit
  font-family: inherit
  font-weight: 400

.form__field--textarea
  position: absolute
  z-index: 1
  letter-spacing: 0.07em
  font-weight: 400
  overflow: hidden
  height: 100%
  margin-top: 0
  resize: none

.form__field--invisible
  display: block
  width: 0
  height: 0
  opacity: 0
  position: absolute

.form__field--focused
  border-color: $highlighted-text-color

.form__field--has-error
  border-color: #f44336

.form__field--readonly
    border-color: #666

.form__field--no-underline
  border-bottom: none

.form__field--type-image
  border: 1px solid $default-text-color
  padding: 0

.form__field--file-input
  position: absolute
  width: 0
  height: 0
  opacity: 0
  overflow: hidden

.form__field--clickable
  cursor: pointer
  text-align: center

.form__field--wrapped
  margin-top: 0

.form__field option
  border-top: 1px solid $border-color
  color: $default-text-color

.form__field--photo
  float left
  width: auto
