.form__row
  margin: 10px 0
  display: flex

.form__row:first-child
  margin-top: 0

.form__row--valign-center
  align-items: center

.form__row--align-right
  justify-content: flex-end

.form__row--align-stretch
  justify-content: space-between

.form__row--direction-column
  flex-direction: column
