.person-card__frame-col
  width: 100%
  padding-bottom: 10px
  border-left: 1px solid $border-color

.person-card__frame-col:first-child
  border-left: none

@media only screen and (max-width: $tablet-max-width)
  .person-card__frame-col
    border-top: 1px solid $border-color
    border-left: none
