.person-card__tags
  z-index: 1
  position: absolute;
  right: 0
  bottom: 0

@media only screen and (max-width: $tablet-max-width)
  .person-card__tags
    position: relative
    display: flex
    justify-content: flex-end
