.person-card__frame-field
  display: table-row
  align-items: flex-start
  margin: 2px 0
  color: #2c9556

@media only screen and (max-width: $tablet-max-width)
  .person-card__frame-field
    display: flex
    flex-direction: column
