$border-color = #38402b
$photo-size = 100px

@import "person-card__container.styl"
@import "person-card__badge.styl"
@import "person-card__header.styl"
@import "person-card__short-info.styl"
@import "person-card__title.styl"
@import "person-card__photo.styl"
@import "person-card__name.styl"
@import "person-card__birthday.styl"
@import "person-card__country-flag-badge.styl"
@import "person-card__rank-badge.styl"
@import "person-card__full-info.styl"
@import "person-card__photo-image.styl"

@import "person-card__frame-row.styl"
@import "person-card__frame.styl"
@import "person-card__frame-title.styl"
@import "person-card__frame-body.styl"
@import "person-card__frame-fields.styl"
@import "person-card__frame-field.styl"
@import "person-card__frame-field-name.styl"
@import "person-card__frame-field-value.styl"

.person-card
  display: inline-block
  background: #263028
  box-shadow: 0 0 0 1px #38402b, 0 2px 3px 0 rgba(0,0,0,.2)
  border-radius: .2rem
  min-width: 300px
  margin: 5px 0
  width: 100%
  font-size: 0.9em
  overflow: hidden
