.person-card__frame-fields
  display: flex
  flex-direction: column
  width: 100%

.person-card__frame-fields--table
  display: table
  width: 100%

@media only screen and (max-width: $tablet-max-width)
  .person-card__frame-fields
    display: flex
    flex-direction: column
