.person-card__photo
  display: flex
  justify-content: center
  align-items: center
  width: $photo-size
  height: $photo-size
  border-right: 1px solid $border-color
  position: relative
  font-size: 3em
  float: left
