.person-card__name
  font-weight: 400
  align-items: center
  flex-grow: 1


@media only screen and (max-width: $tablet-max-width)
  .person-card__name
    display: flex
    align-items: flex-start
    flex-direction: column
