.person-card__short-info-rank::after
  content: ")"

.person-card__short-info-rank::before
  content: "("

.person-card__short-info-rank:first-child::after
  content: ""

.person-card__short-info-rank:first-child::before
  content: ""
