.person-card__relative-frame-name
  font-size: 400
  color: #8d931f
  margin: 0 5px
  white-space: nowrap

@media only screen and (max-width: $tablet-max-width)
  .person-card__relative-frame-name
    white-space: normal
