.person-card__frame-field-name
  display: table-cell
  color: #788378
  text-align: right
  vertical-align: top
  white-space: nowrap
  padding: 0 5px

@media only screen and (max-width: $tablet-max-width)
  .person-card__frame-field-name
    padding: 0
