.person-card__short-info
  flex-grow: 1
  min-height: 60px

@media only screen and (max-width: $tablet-max-width)
  .person-card__short-info
    border-top: 1px solid $border-color
    clear: both
    min-height: 0
