.header__title
  display: flex
  align-items: flex-start
  font-size: 3em
  font-weight: 700
  margin-left: 20px

@media only screen and (max-width: $tablet-max-width)
  .header__title
    font-size: 2em
    margin: 0
