@import "./header__container.styl"
@import "./header__title.styl"
@import "header__logo.styl"

.header
  display: flex
  justify-content: center
  background: #263028
  border-bottom: 1px solid #38402b
  width: 100%
  box-shadow: 0 -5px 10px 7px rgba(0,0,0,.14)
