.header__logo
  color: #2c9556
  cursor: pointer
  text-transform: uppercase
  text-shadow: 0 2px 2px black;
  text-decoration: none

.header__logo--mobile
  display: none

@media only screen and (max-width: $tablet-max-width)
  .header__logo
    display: none

  .header__logo--mobile
    display: inherit
