$paginator-height = 40px

@import "pagination__page.styl"

.pagination
  height: $paginator-height
  display: inline-flex
  background: #263028
  border: 1px solid #38402b
  border-radius: .2rem
  margin-bottom: 15px
  margin-top: 15px
  box-shadow: 0 2px 3px 0px rgba(0,0,0,.2)
  min-width: $paginator-height
  width: auto
  color: #788378
  box-sizing border-box
