$list-item-height = 100px

@import "list__item.styl"
@import "list__item-cell.styl"
@import "list__item-icon.styl"
@import "list__item-info.styl"
@import "list__item-title.styl"
@import "list__item-description.styl"
@import "list__item-actions.styl"
@import "list__item-button.styl"
@import "list__item-badges.styl"
@import "list__item-badge.styl"
@import "list__item-country-badge.styl"
@import "list__item-body.styl"
@import "list__item-rank-badge.styl"
@import "list__item-title-name.styl"
@import "list__item-military.styl"
@import "list__item-military-info.styl"

.list
  width: 100%
  padding: 0

.list--table
  display: table
