.list__item-cell
  display: table-cell
  vertical-align: middle
  padding: 5px
  border-bottom: 1px solid #eeeeee

.list__item-cell--size-s
  font-size: 0.8em

.list__item-cell--text-pre-wrap
  white-space: pre-wrap
