.list__item-button
  display: flex
  justify-content: center
  align-items: center
  cursor: pointer
  height: 100%
  width: $list-item-height
  background: transparent
  border: 0
  border-left: 1px solid #38402b
  transition: 0.3s ease
  outline: none
  text-decoration: none
  color: #2c9556

.list__item-button--success:hover
  color: #ffffff
  background-color: #39863c
  border-color: #39863c

.list__item-button--info:hover
  color: #ffffff
  background-color: #00aec5
  border-color: #00aec5

.list__item-button--danger:hover
  color: #ffffff
  background-color: #f33527
  border-color: #f33527

