.main-title__subtitle-item-link
  padding: 0
  color: #00bcd4
  font-weight: 300
  font-size: 12px
  text-decoration: none
  &:hover
    text-decoration: underline

.main-title__subtitle-item-link--disabled
  text-decoration: none
  color: #aaaaaa
  cursor: default
  pointer-events: none
  &:hover
    text-decoration: none
